<template>
    <nav class="panel">
        <p class="panel-tabs">
            <a @click.prevent="selectFilter(filter)" v-for="(filter, index) in filterList" :class="{ 'is-active': filter.isActive }" :key="index">{{ filter.name }}</a>
        </p>
        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                <span class="icon"><i class="fas fa-magic"></i></span><span>Create a channel</span>
            </button>
        </div>
        <a class="panel-block" @click.prevent="selectChannel(channel)" v-for="(channel, index) in channelList" :class="{ 'is-active': channel.isActive }" :key="index">
            <span class="panel-icon"><i class="far fa-comments" aria-hidden="true"></i></span>
            {{ channel.name }}
        </a>
    </nav>
</template>

<script>
    export default {
        data(){
            return {}
        },
        methods:{
            selectChannel(channel){
                this.channelList.map((val) => {
                    val.isActive = false;
                });
                channel.isActive = true;
            },
            selectFilter(filter){
                this.filterList.map((val) => {
                    val.isActive = false;
                });
                filter.isActive = true;
            }
        },
        data(){
            return {
                channelList: [
                    {name: 'Channel One', isActive: true},
                    {name: 'Channel Two', isActive: false},
                    {name: 'Channel Three', isActive: false},
                    {name: 'Channel Four', isActive: false},
                    {name: 'Channel Five', isActive: false},
                    {name: 'Channel Six', isActive: false},
                    {name: 'Channel Seven', isActive: false},
                    {name: 'Channel Eight', isActive: false},
                    {name: 'Channel Nine', isActive: false},
                    {name: 'Channel Ten', isActive: false},
                    {name: 'Channel Eleven', isActive: false},
                    {name: 'Channel Twelve', isActive: false},
                    {name: 'Channel Thirteen', isActive: false},
                    {name: 'Channel Fourteen', isActive: false},
                    {name: 'Channel Fifteen', isActive: false},
                    {name: 'Channel Sixteen', isActive: false},
                    {name: 'Channel Seventeen', isActive: false},
                    {name: 'Channel Eighteen', isActive: false},
                    {name: 'Channel Nineteen', isActive: false},
                    {name: 'Channel Twenty', isActive: false},
                    {name: 'Channel YYY', isActive: false},
                    {name: 'Channel AAA', isActive: false},
                    {name: 'Channel BBB', isActive: false},
                    {name: 'Channel PPP', isActive: false},
                ],
                filterList: [
                    {name:'All', isActive: true},
                    {name:'Recents', isActive: false},
                    {name:'Favorites', isActive: false},
                    {name:'Pendings', isActive: false},
                ]
            };
        }
    }
</script>

<style scoped>
</style>