<template>
    <div class="input-wrapper">
        <textarea class="textarea"></textarea>
    </div>
</template>

<script>
    export default {
        name: "InputComponent"
    }
</script>

<style scoped>
.input-wrapper textarea{
    min-height: 80px;
}
</style>