<template>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" :href="menu.home.url">{{ menu.home.label }}</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">

                <!-- Unauthenticated user -->
                <a class="navbar-item" :href="menu.unauthUser.register.url" v-if="!menu.authUser">
                    <span class="icon"><i class="fa-fw" :class="menu.unauthUser.register.icon"></i></span>
                    <span>{{ menu.unauthUser.register.label }}</span>
                </a>
                <a class="navbar-item" :href="menu.unauthUser.login.url" v-if="!menu.authUser">
                    <span class="icon"><i class="fa-fw" :class="menu.unauthUser.login.icon"></i></span>
                    <span>{{ menu.unauthUser.login.label }}</span>
                </a>

                <!-- Authenticated user -->
                <div class="navbar-item has-dropdown is-hoverable" v-if="menu.authUser">
                    <a class="navbar-link">
                        <figure class="image is-32x32 avatar-wrapper">
                            <img class="is-rounded avatar" :src=" menu.authUser.avatar">
                        </figure>
                        <span>{{ menu.authUser.username }}</span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" :href="menu.authUser.profile.url">
                            <span class="icon"><i class="fa-fw" :class="menu.authUser.profile.icon"></i></span>
                            <span>{{ menu.authUser.profile.label }}</span>
                        </a>
                        <a class="navbar-item" :href="menu.authUser.settings.url">
                            <span class="icon"><i class="fa-fw" :class="menu.authUser.settings.icon"></i></span>
                            <span>{{ menu.authUser.settings.label }}</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" :href="menu.authUser.logout.url" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                            <span class="icon"><i class="fa-fw" :class="menu.authUser.logout.icon"></i></span>
                            <span>{{ menu.authUser.logout.label }}</span>
                            <form id="logout-form" :action="menu.authUser.logout.url" method="POST" style="display: none;">
                                <input type="hidden" name="_token" :value="menu.authUser.logout.csrf">
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "NavbarComponent",
        props: {
            menu: Object
        },
        data() {
            return {}
        },
    }
</script>

<style lang="scss">
    nav{
        font-family: "OpenSans Light", sans-serif;
    }
    img.avatar{
        max-height: initial;
        border: 1px solid #fff;
        box-shadow: 0 0 5px 1px #fff;
    }
    figure.avatar-wrapper{
        margin-right: 10px;
    }
</style>