<template>
    <transition name="fade" appear>
        <div class="notification is-radiusless is-marginless" :class="notification.type" v-if="showNotification">
            <button class="delete is-medium" @click.prevent="removeNotification"></button>
            <p class="has-text-centered">
                <span class="icon is-medium" ><i class="fa-2x" :class="notification.icon"></i></span>
                <span>{{ notification.message }}</span>
            </p>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            notification: Object
        },
        data() {
            return {
                showNotification: this.notification.message !== undefined
            }
        },
        methods: {
            removeNotification(){
                this.showNotification = false;
            }
        }
    }
</script>

<style>
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
