@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans Bold Italic";
  src: url("../fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "OpenSans Extra Bold";
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "OpenSans Extra Bold Italic";
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "OpenSans Italic";
  src: url("../fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans Light Italic";
  src: url("../fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "OpenSans Semibold";
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "OpenSans Semibold Italic";
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf");
}