body {
  margin: 0;
  font-family: "OpenSans Regular", sans-serif;
  font-size: 16px;
}

html, body, .app {
  height: 100%;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  > * {
    flex: 0 0 auto;
    //overflow: scroll;
  }

  > .main {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;

    > .left, > .right {
      width: 300px;
      min-width: 275px;
      background-color: #eeeeee;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    > .right {
      min-width: 200px;
    }

    > .middle {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      overflow: unset;

      > .middle-top{
        flex: 1 1 auto;
        overflow-y: scroll;
        overflow-x: visible;
      }

      > .middle-bottom{
        flex: 1 1 auto;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        padding: 5px;
      }
    }
  }
}